// IRページのスタイル
$background-color: #f9f9f9;
.ir-overview {
    margin: 20px 0;
    padding: 20px;
    background-color: $background-color;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h2 {
        color: #333;
    }

    .section-image {
        width: 100%;
        height: auto;
        margin: 20px 0;
        border-radius: 8px;
    }
}
