@charset "UTF-8";
.footer {
  background-color: #f8f8f8; /* フッターの背景色 */
  padding: 20px 0; /* 上下のパディング */
  text-align: center; /* 中央揃え */
}

.footer-inner {
  display: flex; /* フレックスボックスを使用 */
  justify-content: space-around; /* セクションを均等に配置 */
  flex-wrap: nowrap; /* 画面幅に応じて折り返し */
}

.footer-section {
  flex: 1; /* 各セクションを均等に広げる */
  min-width: 200px; /* 最小幅を設定 */
  margin: 10px; /* セクション間のマージン */
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 14px; /* h3のフォントサイズを14pxに設定 */
}

.footer-section ul {
  list-style: none; /* リストスタイルを削除 */
  padding: 0; /* パディングを削除 */
}

.footer-section li {
  margin: 5px 0; /* リストアイテムのマージン */
}
.footer-section li a {
  font-size: 12px; /* li内のaのフォントサイズを12pxに設定 */
}

.footer-bottom {
  margin-top: 20px; /* 上部のマージン */
  font-size: 14px; /* フォントサイズ */
  color: #666; /* テキストカラー */
}
#footer .pagetop {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 1002;
  width: 70px;
  height: 70px;
  margin: 0;
  display: block;
  transition: all 0.5s ease;
  filter: drop-shadow(1px 1px 1px #dcdcdc);
}

#footer .pagetop:hover {
  opacity: 0.8;
}
.footer-top {
  background-color: #f8f8f8; /* 背景色 */
  padding: 20px 0; /* 上下のパディング */
  text-align: left; /* 左揃え */
}

.footer-logo {
  display: inline-block; /* インラインブロックにして横並びに */
}

.footer-info {
  display: inline-block; /* インラインブロックにして横並びに */
}

.footer-logo img {
  max-width: 50px; /* ロゴの最大幅 */
  height: auto; /* 高さは自動調整 */
}

.footer-info h2 {
  font-size: 16px; /* 会社名のフォントサイズ */
  margin: 10px 0; /* マージン */
}

.footer-info p {
  font-size: 12px; /* 電話番号のフォントサイズ */
  color: #666; /* テキストカラー */
}
.footer-top .container {
  display: flex;
  flex-direction: column;
}
