@charset "UTF-8";
.footer {
  background-color: #f8f8f8; /* フッターの背景色 */
  padding: 20px 5%;
  /* text-align: center; */
}

.footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  padding: 0 10px;
  margin: 40px auto;
  max-width: 1000px;
}

.footer-section {
  margin: 10px; /* セクション間のマージン */
}

.footer-nav-title {
  margin-bottom: 0px;
  font-size: 14px;
  border-bottom: 0.7px solid #ccc;
  padding-bottom: 10px;
  position: relative;
  padding-left: 30px;
  margin-top: 0px !important;
}
.footer-nav-title:before {
  content: "";
  background-image: url(../../assets/images/icon_right_blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  padding-bottom: 10px !important;
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-sizing: content-box;
}
/* .footer-section h3 {
  margin-bottom: 0px;
  font-size: 12px;
  border-bottom: 0.7px solid #ccc;
  padding-bottom: 10px;
  position: relative;
  padding-left: 30px;
  margin-top: 0px !important;
}
.footer-section h3:before {
  content: "";
  background-image: url(../../assets/images/icon_right_blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  padding-bottom: 10px !important;
  transition: transform 0.3s ease, opacity 0.3s ease;
} */
/* .footer-section h3:hover:before {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.7;
}
.footer-section h3:hover {
  color: #007bff;
} */
.footer-nav-title:hover:before {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.7;
}
.footer-nav-title:hover {
  color: #007bff;
}

.h3borderbottomnone {
  border-bottom: none !important;
  margin-top: 0px;
}

.footer-section ul {
  list-style: none;
  padding: 0 0 0 30px;
  margin-top: 0px;
}
/* .footer-section h3 {
  text-decoration: none;
} */
.footer-nav-title {
  text-decoration: none;
}

.footer-section li a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
.footer-section li a:hover {
  color: #007bff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px; /* 上部のマージン */
  font-size: 14px; /* フォントサイズ */
  color: #666;
  text-align: center;
  position: fixed;
  top: 17px;
  right: -10px;
}
#footer .pagetop {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 1002;
  width: 70px;
  height: 70px;
  margin: 0;
  display: block;
  transition: all 0.5s ease;
  filter: drop-shadow(1px 1px 1px #dcdcdc);
}

#footer .pagetop:hover {
  opacity: 0.8;
}
.footer-top {
  background-color: #f8f8f8; /* 背景色 */
  padding: 20px 0; /* 上下のパディング */
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-logo {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0px;
}

.footer-info {
  display: inline-block; /* インラインブロックにして横並びに */
}

.footer-logo img {
  max-width: 50px; /* ロゴの最大幅 */
  height: auto; /* 高さは自動調整 */
}

.footer-info h2 {
  font-size: 16px; /* 会社名のフォントサイズ */
  margin: 10px 0; /* マージン */
}

.footer-info p {
  font-size: 12px; /* 電話番号のフォントサイズ */
  color: #666; /* テキストカラー */
}
.footer-top .container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .footer-inner {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-section {
    margin-bottom: 20px; /* セクション間のマージン */
  }
}
@media (max-width: 640px) {
  .footer-inner {
    grid-template-columns: 1fr;
  }
}

.footer-level-two {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #232323;
  margin-bottom: 60px;
}
.footer-logo-caption {
  font-size: 10px;
  padding-left: 15px;
  margin-bottom: 0px;
}
.footer-logo h2 {
  font-size: 22px;
  padding-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.copyright {
  padding-bottom: 5px;
  font-size: 10px;
  width: -webkit-fill-available;
}
.footer-attention {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 9px;
}
.footer-attention li {
  padding-right: 17px;
  padding-left: 17px;
  border-right: 1px solid #ddd;
  font-size: 10px;
}
.footer-attention li:first-child {
  border-left: 1px solid #ddd;
}
.footer-nav {
  background-color: #5f9ea052;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 520;
  left: 0;
  width: 100%;
  background-color: #ffffffe6;
  padding: 10px;
  box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.footer-nav-wrapper li {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #eee;
}
.footer-nav-wrapper-cta {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}
.footer-nav-item {
  display: flex;
}
.footer-nav-item:hover {
  transform: scale(1.02);
}
.footer-nav-item a:hover {
  color: #007bff;
}
