@charset "UTF-8";
.tag-news {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-category-wide {
  font-size: 14px;
  width: 140px;
  background-color: #e6ebf0;
  color: #007aff;
  padding: 8px 10px;
  text-align: center;
  border: none;
}
.tabs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.news-category-wide.active {
  border-bottom: 2px solid #007aff !important;
  background-color: #007aff;
  color: white;
  font-weight: 500 !important;
}
.news-category-wide:hover {
  border-bottom: 2px solid #007aff !important;
}
