/* 全体の共通スタイル */
@charset "UTF-8";
* {
  box-sizing: border-box; /* すべての要素にボックスモデルを適用 */
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #3d4143;
  padding-top: 146px;
  overflow-x: hidden;
}
h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 400;
}

ul,
li {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #3d4143;
}

/* コンテナの共通スタイル */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* セクション間の余白 */
section {
  margin: 0;
  padding: 80px 0;
}

/* ヘッダー固定のための調整 */
.header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* シャドウを追加 */
}

/* レスポンシブ対応 */
@media (max-width: 1024px) {
  body {
    padding-top: 80px;
  }

  .header {
    width: 100%;
    padding: 0;
  }
}
